*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
    /* Colors */
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);
    --DarkGray: hsl(0, 0%, 59%);
}
body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: -300px 300px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkCyan);
}
.mainCard {
    max-width: 32.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem 1rem 1rem 1rem;
}
.cardBackground {
    display: block;
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;

}
.avatar {
    display: block;
    border-radius: 50%;
    margin: -50% 0 2.5rem 0;
    outline: 3px solid white;
}
.userInfoContainer {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2.5rem;
}
h1 {
    margin: 0 1.1rem .6rem 0;
    color: var(--VeryDarkDesaturatedBlue);
}
h2 {
    color: var(--VeryDarkDesaturatedBlue);
    text-align: center;
    margin-bottom: .5rem;
}
p, span {
    color: var(--DarkGrayishBlue);
}
p {
    text-align: center;
}
.city {
    grid-column: span 2;
}
hr {
    border: 1px solid var(--DarkGray);
    width: 100%;
    margin-bottom: 2.8rem;
    opacity: .3;
}
.statsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}
.statsContainer p {
    letter-spacing: .2rem;
}
/* Media Queries */
@media only screen and (min-width: 1000px) {
    .mainCard {
        max-width: 35rem;
    }
    
}
/* Font Sizes */
.largeFontSize {
    font-size: 1.8rem;
}
.mediumFontSize {
    font-size: 1.3rem;
}
.smallFontSize {
    font-size: 1rem;
}
/* Font Weights */
.heavyFontWeight {
    font-weight: 700;
}
.lightFontWeight {
    font-weight: 400;
}